@import 'tailwindcss';

@layer components {
  .screen {
    @apply min-w-1/3 rounded-2xl border-8 border-gray-200 bg-white p-8 text-center shadow-2xl;
  }

  .btn-primary,
  .btn-secondary {
    @apply cursor-pointer rounded-lg;
  }

  .btn-primary {
    @apply bg-gradient-to-r from-purple-600 to-pink-600 p-4 font-bold text-white transition hover:scale-105 hover:from-purple-700 hover:to-pink-700;
  }

  .btn-secondary {
    @apply bg-gradient-to-r from-green-500 to-emerald-600 p-4 text-xl font-bold text-white transition hover:scale-105 hover:from-green-600 hover:to-emerald-700;
  }

  .heading-1,
  .heading-2,
  .heading-3 {
    @apply mb-2 text-gray-800;
  }

  .heading-1,
  .heading-2 {
    @apply font-bold;
  }

  .heading-1 {
    @apply text-4xl;
  }

  .heading-2 {
    @apply text-3xl;
  }

  .heading-3 {
    @apply text-2xl;
  }
}
