name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    types: [opened, synchronize, reopened]
    branches: ["**"]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Prettier (check)
        run: npm run format:check

      - name: Tests
        run: npm run test
